/* smaller device */
@media screen and (max-width: 576px) {
  body {
  }
  .hero-container {
    margin: 0;
    border-radius: 10px;
  }
  .hero {
    display: flex;
    flex-direction: column;
  }
  .hero-image img {
    padding-left: 63px;
    padding-right: 0;
    width: 300px;
  }
  .hero-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
    padding: 28px 32px 8px 32px;
  }
  .hero-subtext {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 32px;
  }
  .news-container {
    flex-direction: column;
    align-items: center;
  }
  .news-side {
    background: #ffffff;
  }
  .news-sec {
    background: #e8e8e8;
  }
  .selected {
    background: #dd0000;
    color: #ffffff;
  }
  .news-list {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }
  /* .news-side {
    background: #e8e8e8;
    height: 176px;
    width: 210px;
    border-radius: 10px;
  } */
}
/* medium device */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .hero-title {
    margin: 0;
    padding: 61px 2px 61px 76px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #ffffff;
  }
  .hero-subtext {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    padding: 0 49px 30px 76px;
  }
  .hero-image img {
    width: 323px;
    padding-top: 68px;
  }
  .news-list {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }
  .news-container {
    flex-direction: column;
    align-items: center;
  }
  .news-side {
    background: #ffffff;
  }
  .news-sec {
    background: #e8e8e8;
  }
  .selected {
    background: #dd0000;
    color: #ffffff;
  }
}
