/* smaller device */
@media screen and (max-width: 576px) {
  /* common things  */
  body {
  }
  .btn {
    margin-bottom: 26px;
  }
  .side-cat {
    background: #ffffff;
  }
  .side-cat-item {
    background: #e8e8e8;
  }
  .selected {
    background: #dd0000;
    color: #ffffff;
  }
  /* hero section  */
  .hero-container {
    margin: 20px;
    border-radius: 10px;
  }
  .hero {
    display: flex;
    flex-direction: column;
  }
  .hero-image img {
    padding-left: 35px;
    padding-right: 0;
    width: 300px;
  }
  .hero-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
    padding: 28px 32px 8px 32px;
  }
  .hero-subtext {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 32px;
  }

  /* news upcoming match section  */

  /* news + upcoming match container */
  .news-container,
  .upcoming-match-container {
    flex-direction: column;
    align-items: center;
  }
  /* news + upcoming match list */
  .news-list,
  .upcoming-match-list {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }
  /* footer section  */
  .footer-items {
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }
  .footer-item {
    padding-right: 0;
  }
  .footer-social {
    align-items: center;
    padding-bottom: 30px;
  }
}
/* medium device */
@media screen and (min-width: 577px) and (max-width: 992px) {
  /* common things */
  body {
  }
  .btn {
    margin-top: 10px;
    margin-left: 75px;
  }
  .side-cat {
    background: #ffffff;
    flex-direction: row;
  }
  .side-cat-item {
    background: #e8e8e8;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    width: 230px;
  }
  .selected {
    background: #dd0000;
    color: #ffffff;
  }
  /* hero section */
  .hero-title {
    margin: 0;
    padding: 51px 2px 51px 76px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #ffffff;
  }
  .hero-subtext {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    padding: 0 49px 0px 76px;
    margin: 0;
    margin-bottom: 40px;
  }
  .hero-image img {
    padding-top: 68px;
    width: 323px;
    height: 440px;
    margin-top: 8px;
  }

  /* news section  */
  /* news + upcoming match list */
  /* news + upcoming match container */
  .news-container,
  .upcoming-match-container {
    flex-direction: column;
    align-items: center;
  }

  .news-list,
  .upcoming-match-list {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }
  .last {
    display: none;
  }
  .view-all {
    display: flex;
    padding-top: 50px;
    justify-content: center;
  }
  .view-all-link {
    padding: 23px 65px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #ffffff;
    background: #dd0000;
    border-radius: 5px;
  }
  /* footer section */
  .footer-item {
    font-size: 14px;
    padding-right: 10px;
  }
}
