/* common things */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.side-cat-item {
  padding: 17px 10px;
  width: 200px;
  margin-top: 30px;
  background: #ffffff;
  color: #161616;
  border-radius: 10px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.selected {
  background: #dd0000;
  color: #ffffff;
}
.btn {
  text-decoration: none;
  height: 44px;
  width: 196px;
  border-radius: 41px;
  padding: 10px 24px 10px 10px;
  background: #dd0000;
  border-radius: 5px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  margin-left: 106px;
}
.btn:hover {
  background: rgb(230, 0, 255);
  transition: background 2s;
}
.side-cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 312px;
  height: 312px;
  margin-right: 24px;
  margin-left: 10px;
  border-radius: 10px;
  background: #161616;
}
/* hero section  */
.hero-container {
  background-color: #161616;
  border-radius: 30px;
  margin: 10px;
  margin-bottom: 130px;
}
.hero {
  display: flex;
}
.hero-text-content {
}
.hero-title {
  margin: 0;
  padding: 111px 24px 20px 106px;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  color: #ffffff;
}
.hero-subtext {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  padding: 0 49px 30px 106px;
}
@keyframes move-marcelo {
  from {
    padding-top: 33px;
  }
  to {
    padding-top: 0px;
  }
}
.hero-image {
  /* animation-name: move-marcelo;
  animation-duration: 2s; */
}
.hero-image img {
  padding: 33px 79px 0 24px;
  width: 581px;
}

/* news section */
.news-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 130px;
}

.news-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.news {
  width: 312px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.news img {
  width: 312px;
  height: 175px;
}
.news-cat {
  padding: 0 8px;
  margin-left: 20px;
  width: 67px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #161616;
}
.news-title {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #161616;
}
.news-meta {
  display: flex;
}
.news-meta i {
  padding-right: 10px;
}
.posted {
  padding-left: 20px;
  color: rgba(22, 22, 22, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.comment {
  padding-left: 64px;
  color: rgba(22, 22, 22, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.view-all {
  display: none;
}

/* footer section */
.footer-container {
  background: #161616;
}
.footer-box {
  display: flex;
  justify-content: center;
}
.footer-content {
  width: 100%;
}
.footer-title {
  color: #ffffff;
  padding-bottom: 40px;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 0;
}
hr {
  width: 80%;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-items {
  display: flex;
  padding-bottom: 60px;
  justify-content: center;
  padding-top: 50px;
}
.footer-item {
  padding-right: 40px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #b9b9b9;
}
.footer-item:hover {
  color: blue;
}
.footer-social {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}
.fa-brands {
  color: #ffffff;
  font-size: 2em;
  padding-right: 20px;
}
.fa-brands:hover {
  color: blue;
}

/* upcoming */
.upcoming-match-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 130px;
}
.upcoming-match-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.match-box {
  width: 312px;
  height: 242px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.team-vs {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.team {
  padding: 0 20px;
}
.team img {
  width: 94px;
  height: 57px;
}
.vs {
  font-style: normal;
  /* padding: 0 20px; */
  /* padding-top: 53px; */

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #161616;
}
.vs-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.vs-meta {
  display: flex;
  justify-content: center;
}
.vs-date,
.vs-time {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  text-align: center;
  padding-right: 20px;
  color: #4d4d4d;
}
