/* common things */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.btn {
  text-decoration: none;
  height: 44px;
  width: 196px;
  border-radius: 41px;
  padding: 10px 24px 10px 10px;
  background: #dd0000;
  border-radius: 5px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  margin-left: 106px;
}
.btn:hover {
  background: rgb(230, 0, 255);
  transition: background 2s;
}
/* hero section  */
.hero-container {
  background-color: #161616;
  border-radius: 30px;
  margin: 10px;
  margin-bottom: 130px;
}
.hero {
  display: flex;
}
.hero-text-content {
}
.hero-title {
  margin: 0;
  padding: 111px 24px 20px 106px;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  color: #ffffff;
}
.hero-subtext {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  padding: 0 49px 30px 106px;
}
@keyframes move-marcelo {
  from {
    padding-top: 33px;
  }
  to {
    padding-top: 0px;
  }
}
.hero-image {
  animation-name: move-marcelo;
  animation-duration: 2s;
}
.hero-image img {
  padding: 33px 79px 0 24px;
  width: 581px;
}
